body {
    background: silver;
    margin: 10px;

}

.fatherhw4one {
    display: flex;
    justify-content: center;
}

.a {
    width: 100%;
    height: 290px;
    background: #815ea1;
    margin: 10px;
}

.aaa {

    height: 290px;
    flex-grow: 3;
    background: #815ea1;
}

.bbb {
    height: 290px;
    flex-grow: 1;
    background: #815ea1;
}

.xh {
    box-sizing: border-box;
    margin: 10px;
}
